<div class="container">
    <div class="row">
        <div class="col-sm" style="text-align: center;">
            <button class="btn btn-left btn-primary btn-lg btn-block">Akordy</button>
            <button class="btn btn-left btn-primary btn-lg btn-block">Skale</button>
            <button class="btn btn-left btn-primary btn-lg btn-block">Tabulatury</button>
        </div>
        <div class="col-sm" style="text-align: center;">
            <button class="btn btn-right btn-info btn-lg btn-block">Rozwiąż test</button>
            <button class="btn btn-right btn-info btn-lg btn-block">Rozwiąż test</button>
            <button class="btn btn-right btn-info btn-lg btn-block">Rozwiąż test</button>
        </div>
    </div>
</div>