<div class="container">
    <div class="row">
        <div class="col-sm" style="text-align: center;">
            <button class="btn btn-left btn-primary btn-lg btn-block btnLeft" routerLink='/add-lesson'>Dodaj lekcje</button>
            <button class="btn btn-left btn-info btn-lg btn-block btnLeft">Dodaj test</button>
            <button class="btn btn-left btn-color btn-info btn-lg btn-block btnLeft">Dodaj akord</button>
        </div>
        <div class="col-sm" style="text-align: center;">
            <button class="btn btn-right btn-primary btn-lg btn-block btnRight">Zarządzaj swoimi lekcjami</button>
            <button class="btn btn-right btn-info btn-lg btn-block btnRight">Zarządzaj swoimi testami</button>
            <button class="btn btn-right btn-color btn-info btn-lg btn-block btnRight">Zarządzaj swoimi akordami</button>
        </div>
    </div>
</div>