<div class="container">
    <div class="row">
        <div class="col-sm form-group">
            <h3 class="text-primary">Tytuł</h3>
            <textarea 
                cols="30" 
                rows="15"
                class="form-control"
                disabled="true"
                style="background-color: white;"></textarea>
            <button 
                class="btn btn-default btn-anuluj" 
                type="button">
                Powrót do lekcji</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm form-group">
            <h5 class="text-primary">Komentarze</h5>

        </div>
    </div>
    <div class="footer"></div>
</div>
