<div class="container">
    <div class="row">
        <div class="col-sm form-group">
            <h5 class="text-primary">Sortuj</h5>
            <select 
                type="text"
                id="sort"
                name="sort"
                class="form-control"
                style="width: 200px;"
                formControlName="sort">

                <option value="alfabetycznie">Alfabetycznie</option>
                <option value="najnowsze">Od najnowszych</option>
                <option value="ukonczone">Po ukończonych</option>
            </select>
         </div>
    </div>
    <div class="row">
        <div class="col-sm form-group" style="text-align: center;">
            <button class="btn btn-anuluj btn-left btn-default btn-lg btn-block left-col">Tytuł lekcji</button>
        </div>
        <div class="col-sm form-group right-col" style="text-align: center;">
            <input type="checkbox" class="right-col">
        </div>
    </div>
</div>