<div class="container">
    <div class="row">
        <div class="col-sm" style="text-align: center;">
            <button class="btn btn-left btn-primary btn-lg btn-block">Kategorie lekcji</button>
            <button class="btn btn-left btn-info btn-lg btn-block">Metronom</button>
        </div>
        <div class="col-sm" style="text-align: center;">
            <button class="btn btn-right btn-primary btn-lg btn-block">Baza akordów</button>
            <button class="btn btn-right btn-info btn-lg btn-block" routerLink='/account' routerLinkActive='active'>Zarządzanie kontem</button>
        </div>
    </div>
</div>